.size-drop-down {
  width: 100%;
}

.warning-message {
  color: red;
}

.product-info {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media screen and (max-width: 765px) {
  .description {
    font-size: 1.2em;
  }
}
