.search-box {
  flex: 1;
  max-width: 400px; /* 검색창 최대 너비 */
  margin: 0 20px; /* 양쪽 간격 */
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-bottom: 0.5px solid gray;
}

.search-box input {
  border: none;
  margin-left: 1.2em;
  background-color: #faf9f8;
  width: 350px;
}

.search-box input:focus {
  outline: none;
}

.mobile-search-box {
  position: relative;
  top: 10px;
  left: 10px;
}
.search {
  align-items: center;
}

@media screen and (max-width: 765px) {
  .search-box {
    max-width: 60%;
  }
}
