@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
}

body {
  background-color: #faf9f8;
}

#container {
  width: 97vw;
  max-width: 1120px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.centered-spinner {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  height: 50vh;
}

.card {
  border: none !important;
  margin-bottom: 10px;
  background-color: #faf9f8;
}

.card-name {
  font-size: 15px;
}

.card:hover {
  cursor: pointer;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message {
  text-align: left;
  width: 100%;
}
.form-control:valid {
  background-color: white !important;
}

.hide {
  visibility: hidden;
}

.display-flex {
  display: flex;
  align-items: center;
}

.admin-layout {
  display: flex;
}

@media screen and (max-width: 765px) {
  .card-name {
    font-size: 1em;
  }
}
