@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 95vw;
  /* max-width: 1200px; */
  margin: 0 auto;
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, Arial,
    sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #faf9f8;
}

.centered-spinner {
  display: flex;
  justify-content: center; /* 가로 중앙 */
  align-items: center; /* 세로 중앙 */
  height: 50vh;
}

.card {
  border: none !important;
  margin-bottom: 10px;
  background-color: #faf9f8;
}

.card-name {
  font-size: 16px;
}

.card:hover {
  cursor: pointer;
}

.choice {
  font-size: 11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message {
  text-align: left;
  width: 100%;
}
.form-control:valid {
  background-color: white !important;
}

.drop-down {
  margin-top: 20px;
}

.add-button {
  margin-top: 20px;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.display-flex {
  display: flex;
  align-items: center;
}

.admin-layout {
  display: flex;
}

.link-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
